.weekly-calendar {
  display: flex;
}
.week-day {
  flex: 1;
  border: 1px solid #ccc;
}
.day-label {
  font-weight: bold;
}
.hour-slot {
  padding: 5px;
  border-top: 1px solid #eee;
  cursor: pointer;
}
.hour-slot:hover {
  background-color: #f0f0f0;
}
.booked-slot {
  background-color: #d3d3d3; /* Gray color for booked slots */
}

.available-slot {
  background-color: #7ccc7c; /* Bright color for available slots */
  cursor: pointer;
}
