.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.global{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:cadetblue;
}

.login-register-block{
  width:30%;

}

.wallpaper-block{
  width:55%;
  margin-left:20px;
}

.image{
  width:80%;
  height:100%;
}

.logo{
  width:20%;
}

mat-expansion-panel{
  background-color:bisque;
}

.span-color{
  color:darkred;
}
