
<div class="global">
  <img class="logo" src="assets/hospital-logo.png">

<div class="login-register-block">
<mat-accordion class="example-headers-align">
<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Login
    </mat-panel-title>
    <mat-panel-description>
      Enter your username and password
      <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

	<form #loginForm="ngForm" (submit)="login()">

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type="text" name="username" #username="ngModel" [(ngModel)]="loginUser.userName" required>
    <span class="span-color" *ngIf="username.errors?.['required'] && username.touched">* Username is required</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput name="loginPassword" [(ngModel)]="loginUser.password" #loginPassword="ngModel" type="password" required>
    <span class="span-color" *ngIf="loginPassword.errors?.['required'] && loginPassword.touched">Password is required</span>
  </mat-form-field>
  <mat-action-row>
    <button mat-button type="submit" [disabled]="loginForm.invalid" color="primary">Login</button>
  </mat-action-row>
  </form>
</mat-expansion-panel>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Patient Registration
    </mat-panel-title>
    <mat-panel-description>
      Enter in your credentials
      <mat-icon>account_circle</mat-icon>
    </mat-panel-description>
  </mat-expansion-panel-header>

<form #registerForm="ngForm" (submit)="registerPatient()">
  <mat-form-field>
    <mat-label>Firstname</mat-label>
    <input matInput type="text" name="firstname" #firstname="ngModel" [(ngModel)]="registerPatientUser.firstname" required>
    <span class="span-color" *ngIf="firstname.errors?.['required'] && firstname.touched">Your firstname is required</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Lastname</mat-label>
    <input matInput type="text" name="lastname" #lastname="ngModel" [(ngModel)]="registerPatientUser.lastname" required>
    <span class="span-color" *ngIf="lastname.errors?.['required'] && lastname.touched">Your lastname is required</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" name="password" #password="ngModel" [(ngModel)]="registerPatientUser.password" required>
    <span class="span-color" *ngIf="password.errors?.['required'] && password.touched">Your password is required</span>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password Confirmation</mat-label>
    <input matInput type="password" name="passwordConf" #passwordConf="ngModel" [(ngModel)]="passwordConfirmation" required>
    <span class="span-color" *ngIf="passwordConf.errors?.['required'] && passwordConf.touched">The password confirmation is required</span>
    <span class="span-color" *ngIf="passwordConf !== password && passwordConf.touched">The password confirmation is required</span>
  </mat-form-field>

    <mat-label>Profile Picture</mat-label>
    <input type="file" name="pic" #picture="ngModel" [(ngModel)]="pic" (change)="onFileSelected($event)" required>
    <span class="span-color" *ngIf="picture.errors?.['required'] && picture.touched">Your profile picture is required</span>

  <mat-action-row>
    <button mat-button type="submit" [disabled]="registerForm.invalid" color="warn">Sign Up</button>
  </mat-action-row>
</form>
</mat-expansion-panel>
</mat-accordion>
</div>

<div class="wallpaper-block">
  <img class="image" src="assets/hos-wallpaper.jpg">
</div>

</div>
